<form [formGroup]="formGroup" (submit)="createUser()" class="row">
  <div class="col-10 offset-1 col-xl-8 offset-xl-2 mb-3">
    <label for="email-input" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-input" [formControlName]="'email_input'" required>
    <div id="email-help" class="form-text">Your email must be unique.</div>
  </div>
  <div class="col-10 offset-1 col-xl-8 offset-xl-2 mb-5">
    <label for="password-input" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-input" [formControlName]="'password_input'" required>
  </div>
  <div class="col-5 offset-1 col-xl-4 offset-xl-2 mb-3">
    <label for="name-input" class="form-label">First name</label>
    <input type="text" class="form-control" id="name-input" [formControlName]="'name_input'" required>
  </div>
  <div class="col-5 col-xl-4 mb-3">
    <label for="surname-input" class="form-label">Last name</label>
    <input type="text" class="form-control" id="surname-input" [formControlName]="'surname_input'" required>
  </div>
  <div formArrayName="permission_array" class="col-12">
    <div class="row">
      <div *ngFor="let perm of PERMISSION_REPRESENTATIONS; let i = index" [ngClass]="{'text-end text-md-start': i % 2 == 0, 'offset-md-2 offset-xl-0': i % 3 == 0, 'offset-xl-2': i % 4 == 0}" class="col-6 col-md-3 col-xl-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="{{ i }}" [formControlName]="i">
          <label class="form-check-label" for="{{ i }}">{{ perm }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 col-xl-8 offset-xl-2 mt-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<div *ngIf="created" class="row mt-5">
  <div class="col-12 text-center">
    User with email {{ username }} was successfully created.
  </div>
</div>
