<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a [routerLink]="'/'" class="navbar-brand">Domaci 3</a>
    <div class="navbar-nav me-auto">
      <a [routerLink]="'/list'" class="nav-link">User List</a>
      <a *ngIf="can_read_users" [routerLink]="'/create'" class="nav-link">Create User</a>
    </div>
    <a *ngIf="!isAuthenticated" [routerLink]="'/login'" class="nav-link">Sign in</a>
    <span *ngIf="isAuthenticated">Welcome, {{ identifier }}!</span>
    <a *ngIf="isAuthenticated" (click)="logOut()" class="nav-link">Log out</a>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
