<div class="row text-center">
  <div class="col-12">
    <h1>
      <span *ngIf="!authenticated">
        You are not currently logged in.
      </span>
      <span *ngIf="authenticated">
        Hello! You are logged in as {{ identifier }}.
      </span>
    </h1>
  </div>
</div>
<div class="row text-center">
  <div class="col-12">
    <span *ngIf="!authenticated">
      We recommend
      <a [routerLink]="'/login'">logging in</a>
      so you can access other features on this site.
    </span>
    <div *ngIf="authenticated && !no_permission">
      Currently you have these permissions:
      <ul class="list-inline">
        <li *ngFor="let permission of permissions">
          {{ permission }}
        </li>
      </ul>
    </div>
    <span *ngIf="authenticated && no_permission">
      You don't have any permissions at the moment. Please ask someone to grant you them.
    </span>
  </div>
</div>
